.row {
    max-width: $grid-width;
    //background-color: lightgrey;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: $gutter-horizontal;

    @include respond(tab-port) {
        flex-direction: column !important;
        max-width: 50rem;
        padding: 0 3rem;
    }

    &:not(:last-child){
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    [class^="col-"]{
        //padding: 0 $gutter-horizontal;
        //background-color: red;
    }

    @for $i from 1 through 3 {
        .col-#{$i} {
            flex: $i;
        }
    }
}