.row {
    max-width: $grid-width;
    //background-color: lightgrey;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: $gutter-horizontal;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    [class^="col-"]{
        //padding: 0 $gutter-horizontal;
        //background-color: red;
    }

    @for $i from 1 through 3 {
        .col-#{$i} {
            flex: $i;
        }
    }
}